#pragma once

#define WIFI_SSID     "your_wifi_name"
#define WIFI_PASSWORD "your_wifi_password"
#define BACKEND_URL   "http://your-server-ip:8000/api/flood-readings/"
#define API_KEY       "your_api_key_here"
